{% load static %}
<!doctype html>
<html lang="en">

<head>

    <!--====== Required meta tags ======-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--====== Title ======-->
    <title>Sadhana | terapias</title>

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="{% static 'assets/images/sadhana_logo.png' %}" type="image/png">

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/LineIcons.css' %}">

    <!--====== Magnific Popup css ======-->
    <link rel="stylesheet" href="assets/css/magnific-popup.css' %}">

    <!--====== Default css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">

    <!--====== Style css ======-->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">


</head>

<body>

    <!--====== HEADER PART START ======-->

    <header class="header-area">
        <div class="navgition navgition-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="#">
                                <img src="{% static 'assets/images/sadhana_logo.png' %}" alt="Logo">
                            </a>

                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOne" aria-controls="navbarOne" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>

                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarOne">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item active">
                                        <a class="page-scroll" href="/#home">INICIO</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/#service">TERAPIAS</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/#pricing">VALORES</a>
                                    </li>
                                    <li class="nav-item">
                                        <a  href="{% url 'blog' %}">Blog</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="page-scroll" href="/#contact">CONTATO</a>
                                    </li>

                                </ul>
                            </div>

                            <div class="navbar-social d-none d-sm-flex align-items-center">
                                <span>NOS SIGA</span>
                                <ul>
                                    <li><a href="https://www.facebook.com/sadhana.terapias1/"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="#"><i class="lni-instagram-original"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-original"></i></a></li>                                  
                                </ul>
                            </div>
                        </nav> <!-- navbar -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- navgition -->

        <div id="home" class="header-hero bg_cover" style="background-image: url(/static/assets/images/sadhana_fundo.png)">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-10">
                        <div class="header-content text-center">
                            <h3 class="header-title">Centro de terapias naturais Sadhana</h3>
                            <p class="text">Tratamentos naturais com massagens e produtos para sua saude</p>
<!--                            <ul class="header-btn">-->
<!--                                <li><a class="main-btn btn-one" href="#">GET IN TOUCH</a></li>-->
<!--                                <li><a class="main-btn btn-two video-popup" href="https://www.youtube.com/watch?v=r44RKWyfcFw">WATCH THE VIDEO <i class="lni-play"></i></a></li>-->
<!--                            </ul>-->
                        </div> <!-- header content -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
            <div class="header-shape">
                <img src="{% static 'assets/images/header-shape.svg' %}" alt="shape">
            </div>
        </div> <!-- header content -->
    </header>

    <!--====== HEADER PART ENDS ======-->
      {% block content %}
    <!-- Conteúdo principal da página -->
    {% endblock %}

    <!--====== FOOTER PART START ======-->

    <footer id="footer" class="footer-area">
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-logo-support d-md-flex align-items-end justify-content-between">
                            <div class="footer-logo d-flex align-items-end">
                                <a class="mt-30" href="index.html"><img src="{% static 'assets/images/sadhana_logo.png' %}" alt="Logo"></a>

                                <ul class="social mt-30">
                                    <li><a href="https://www.facebook.com/sadhana.terapias1/"><i class="lni-facebook-filled"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-original"></i></a></li>
                                    <li><a href="https://www.instagram.com/sadhana.terapias/"><i class="lni-instagram-original"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-original"></i></a></li>
                                </ul>
                            </div> <!-- footer logo -->

                        </div> <!-- footer logo support -->
                    </div>
                </div> <!-- row -->
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">Sadhana</h6>
                            <ul>
                                <li><a href="/sobre">Sobre</a></li>
                                <li><a href="#">Contato</a></li>
                                <li><a href="#">Historia</a></li>

                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="footer-link">
                            <h6 class="footer-title">Produtos & Serviços</h6>
                            <ul>
                                <li><a href="/terapias">Terapias</a></li>
                                <li><a href="#">Fitos</a></li>
                                <li><a href="#">Oleos</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="footer-link">
                            <h6 class="footer-title">Ajuda & Suporte</h6>
                            <ul>
                                <li><a href="#">Central de Suporte</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Termos & Condições</a></li>
                            </ul>
                        </div> <!-- footer link -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-7">
                        <div class="footer-newsletter">
                            <h6 class="footer-title">Noticias</h6>
                            <div class="newsletter">
                                <form action="#">
                                    <input type="text" placeholder="Seu email">
                                    <button type="submit"><i class="lni-angle-double-right"></i></button>
                                </form>
                            </div>
                            <p class="text">Se inscreva para receber nosticias e promoções </p>
                        </div> <!-- footer newsletter -->
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer widget -->

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright text-center">
                            <p class="text">Site feito por <a rel="nofollow" href="https://www.linkedin.com/in/andregeraseev" target="_blank">André Geraseev</a></p>
                        </div>
                    </div>
                </div> <!-- row -->
            </div> <!-- container -->
        </div> <!-- footer copyright -->
    </footer>

    <!--====== FOOTER PART ENDS ======-->




    <!--====== BACK TO TOP PART START ======-->

    <a class="back-to-top" href="#"><i class="lni-chevron-up"></i></a>

    <!--====== BACK TO TOP PART ENDS ======-->









    <!--====== jquery js ======-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/vendor/jquery-1.12.4.min.js'%}"></script>

    <!--====== Bootstrap js ======-->
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'assets/js/popper.min.js'%}"></script>

    <!--====== Scrolling Nav js ======-->
    <script src="{% static 'assets/js/jquery.easing.min.js'%}"></script>
    <script src="{% static 'assets/js/scrolling-nav.js'%}"></script>

    <!--====== Magnific Popup js ======-->
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>

    <!--====== Main js ======-->
    <script src="{% static 'assets/js/main.js'%}"></script>

</body>

</html>