{% extends "base.html" %}
{% load static %}

{% block content %}
<style>
.about-section {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.about-section h2, .about-section h3 {
    color: #333;
}

.about-section p {
    margin-bottom: 40px;
    text-align: justify;
}

/* Se quiser adicionar mais estilos, como cores de fundo, bordas, etc., você pode fazer isso aqui. */

    </style>
<div class="container">


<div class="about-section">
    <h2>Olá! Meu nome é Cristiane Souza</h2>
    <p>
        Sou terapeuta desde 2008 e a Sadhana Terapias é minha marca de terapias, produtos fitoterápicos e cosméticos naturais. Ela existe para oferecer tratamentos naturais, seguros e eficazes, como uma alternativa a tratamentos convencionais cheios de química nociva ao nosso corpo.
    </p>
    <h3>Como posso ajudar?</h3>
    <p>
        Você tem se sentido cansado, mal-humorado, com dores, insônia, ansiedade ou indisposição? Acha que há muito mais para viver e sente que algo está faltando? Sente-se sem energia para fazer tudo que precisa e/ou quer fazer? Você pode estar com tensão acumulada.
    </p>
    <h3>Tratamentos Individualizados</h3>
    <p>
        Na primeira sessão, é feita uma avaliação e todos os tratamentos são individualizados. Podem ser tratados desde dores nas costas, articulações, cabeça, ciático etc., até bursite, tendinite, hérnia de disco, sintomas de estresse, insônia, ansiedade etc. De modo geral, são tratamentos que visam saúde, bem-estar e qualidade de vida.
    </p>
    <h3>Atendimentos</h3>
    <p>
        Os atendimentos presenciais são feitos no Jd. Satélite, em São José dos Campos, e os atendimentos à distância são realizados por chamada ou videochamada.
    </p>
</div>
      </div>
{% endblock %}
