{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .terapias-section {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 20px;
        }

        .terapias-section h2 {
            color: #333;
            margin-bottom: 20px;
        }

        .terapias-section h3 {
            color: #444;
            margin-top: 20px;
        }

        .terapias-section p {
            margin-bottom: 50px;
            text-align: justify;
            text-indent: 20px;
        }

    </style>
    <div class="container">
        <div class="terapias-section">
            <h2>Terapias</h2>
            <div id="massagem_terapeutica">
                <h3>Massagem Terapêutica</h3>
                <p>A massagem é uma das mais antigas formas de terapia. Atualmente, seu potencial de alívio e cura de
                    dores é amplamente comprovado.
                    <br>No imaginário da maioria das pessoas, massagem remete a relaxamento.
                    O relaxamento, em si, já faz parte da cura, revertendo, aos poucos, o desgaste a que nosso corpo
                    está sujeito no dia a dia; no entanto, a massagem terapêutica propriamente dita vai bem além do
                    relaxamento.
                    <br>Com determinadas técnicas, podemos tratar desde dores e tensões até problemas mais específicos,
                    como hérnias de disco, insônia, sintomas de estresse, tendinite, bursite e muitos outros problemas
                    de saúde.
                    <br> Isso tudo sem efeitos colaterais (tão comuns na medicina alopática) e de forma bastante
                    agradável.
                    <br>Por ser um tratamento eficaz, seguro e natural, a massagem terapêutica pode ser uma grande
                    aliada para evitar os efeitos nocivos do estresse da vida moderna.
            </div>

            <div id="alinhamento_de_coluna">
                <h3>Alinhamento de Coluna</h3>
                <p>O alinhamento é feito por meio de ajustes das vértebras.
                    Juntamente com a Massagem Terapêutica, são tratadas dores em geral (dores musculares, de cabeça, nas
                    costas, nas articulações, etc., tensão muscular, hérnia de disco, tendinite etc.).
                </p>
            </div>

            <div id="ventosaterapia">
                <h3>Ventosaterapia</h3>
                <p>A ventosaterapia auxilia no tratamento de dores musculares e articulares, entre outras funções. Podem
                    ser tratadas, além das dores musculares, dores nos joelhos, ombros e outras articulações.
                    Com um copinho de acrílico, é feita na pele uma sucção que promove aumento da circulação, da
                    oxigenação e da nutrição dos tecidos, contribuindo para uma recuperação mais rápida desses tecidos.
                </p>
            </div>

            <div id="massagem_thai">
                <h3>Massagem Thai</h3>
                <p>A ventosaterapia auxilia no tratamento de dores musculares e articulares, entre outras funções. Podem
                    ser tratadas, além das dores musculares, dores nos joelhos, ombros e outras articulações.
                    Com um copinho de acrílico, é feita na pele uma sucção que promove aumento da circulação, da
                    oxigenação e da nutrição dos tecidos, contribuindo para uma recuperação mais rápida desses tecidos.
                </p>
            </div>

            <div id="massagem_para_gestantes">
                <h3>Massagem para Gestantes</h3>
                <p>A massagem na gravidez age nos níveis físico e emocional, trazendo alívio de dores e desconfortos,
                    preparando o corpo da mulher para o parto e contribuindo para uma gestação mais saudável e
                    tranquila, por meio do relaxamento das tensões, da mobilização das articulações e de um
                    autoconhecimento que estreita os laços entre mãe e bebê.</p>
            </div>

            <div id="fitoterapia">
                <h3>Fitoterapia</h3>
                <p>Fitoterapia é o tratamento com plantas medicinais, que é eficaz e não tem os efeitos colaterais
                    comuns aos remédios convencionais (podem ser usados em conjunto com o tratamento tradicional).
                </p>
            </div>


            <h6>Alguns dos tratamentos com Fitoterapia:</h6>
            <li>Saúde mental/emocional (ansiedade, depressão, falta de concentração e memória, insônia, falta de
                energia e vigor, baixa libido etc.).
            </li>
            <li>Saúde física (diabetes, pressão alta, colesterol, problemas de estômago, sobrepeso, hiperidrose,
                infecção urinária, problemas nas cordas vocais, mau hálito, ácido úrico, gota, retenção de líquido,
                problemas no coração, pedras nos rins, herpes, hipotireoidismo, varizes, baixa imunidade etc.).
            </li>
            <li> Soluções para dor (dores em geral, contusões, inflamações, artrite, artrose, fibromialgia,
                enxaquecas, cólicas etc.).
            </li>
            <li>Saúde da mulher (ovário policístico, endometriose, mioma, TPM, ciclo desregulado, problemas de
                fertilidade, menopausa, baixa libido, cólicas, fluxo intenso etc.).
            </li>
            <br>Os atendimentos podem ser realizados presencialmente ou a distância.


        </div>
    </div>

    <script>
 window.addEventListener("load", function() {
  // Função para ajustar a posição de scroll ao elemento com hash
  const scrollToHash = () => {
    const hash = window.location.hash;
    if (hash) {
      const target = document.querySelector(hash);
      if (target) {
        // Aguarda um breve momento para garantir que todos os estilos e scripts impactem o layout
        setTimeout(() => {
          const yOffset = -150; // Offset para o navbar
          const y = target.getBoundingClientRect().top + window.pageYOffset + yOffset;

          window.scrollTo({ top: y, behavior: 'smooth' });
        }, 0);
      }
    }
  };

  // Chamada imediata no carregamento
  scrollToHash();

  // Adiciona o evento para atualizar o scroll em mudanças de hash
  window.addEventListener('hashchange', scrollToHash, false);
});

    </script>
{% endblock %}
